<%= form_for @item do |f| %>
<%= @item.name %>
<div>
<%= f.label :name %>
<%= f.text_field :name, class: "form-control" %>
</div>

<div>
	<%= f.label :quantity %>
	 <%= f.text_field :quantity, class: "form-control" %>
	</div>

<div>
<%= f.label :price %>
 <%= f.text_field :price, class: "form-control" %>
</div>

<div>
<%= f.label :is_acquired?  %> 
<%= f.check_box :is_acquired %>
</div>

<%= f.submit "Update!", class: "btn btn-success" %>
<% end %>
