<h1>My Shopping List</h1>


<table id="item-table">
		
	<thead>
		<tr>
			<th>Name</th> 
			<th>Qty.</th> 
			<th>Price</th> 
			<th>Acquired?</th> 
			
		</tr>
	</thead>

	<% @items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= item.quantity %></td>
			<td><%= item.price %></td>
			<td><%= item.is_acquired %></td>
			<td><%= link_to "Edit", edit_item_path(item), class: "btn btn-primary"  %>  </td>
			<td> <%= link_to 'Delete', item, method: :delete, data: { confrim: 'Are you sure?' } %> </td>
		</tr>

	 
	
	
<% end %>
	
</table>
<%= link_to 'New Item', new_item_path, class: "btn btn-success" %>

<br>
<br>
<br>




